.loginbuttonbox {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.forgot {
  border-bottom: 0.1rem solid var(--grey-mid);
  color: var(--grey-mid);
  font-size: 1.4rem;
}

.link {
  color: var(--pink-mid);
  border-bottom: 0.1rem solid var(--pink-mid);
}

.question {
  color: var(--grey-mid);
  margin-bottom: 2rem;
  position: relative;
  padding-left: 3rem;
}

.question:before {
  display: block;
  content: "";
  border: 0.2rem solid var(--purple-low);
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  left: 0;
  top: 0.8rem;
  transform: rotate(45deg);
  border-left: none;
  border-bottom: none;
  border-radius: 0.15rem;
}

.borderBox {
  max-width: calc(100% - 8rem);
}

.job {
  color: var(--grey-high);
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: -3rem;
}

.contact {
  color: var(--grey-mid);
  font-size: 1.4rem;
}
