.heading1 {
  font-size: 2.8rem;
  font-weight: bold;
  color: var(--purple-high);
  font-family: "beatrice", Arial, Helvetica, sans-serif;
  margin-bottom: 6rem;
}
.heading2 {
  font-family: "beatrice", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.avatar {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.oneLine {
  display: flex;
  justify-content: space-between;
}

.headGrid {
  display: grid;
  grid-template-columns: 1fr 19vmax;
  grid-gap: 3rem;
}
.subGrid {
  display: grid;
  grid-template-rows: auto;
}
.frame {
  min-height: 35vh;
  padding-bottom: 3rem;
}

.button {
  composes: form__button from "../../styles/form.module.css";
  margin-left: 2rem;
  padding: 1rem 1.5rem;
}

.button__icon {
  display: inline-block;
  color: var(--pink-low);
  transform: rotate(0deg);
  transition: 0.35s ease-in-out;
  margin-right: 1rem;
  font-size: 2.4rem;
  line-height: 0;
}

.purple {
  background-color: var(--purple-high);
}
.purple:hover {
  background-color: var(--purple-mid);
}
.purple .button__icon {
  color: var(--purple-low);
}
.button:hover .button__icon {
  transform: rotate(360deg);
}

.borderRight {
  border-right: 0.1rem solid var(--grey-low);
  padding-right: 3rem;
}
.borderTop {
  border-top: 0.1rem solid var(--grey-low);
  padding-top: 3rem;
}

.cardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
