.emptyContainer {
  max-width: 45%;
  font-size: 1.8rem;
}
.avatar {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.oneLine {
  display: flex;
  justify-content: space-between;
}

.headGrid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 4rem;
}
.subGrid {
  display: grid;
  grid-template-rows: auto;
}
.frame {
  min-height: 35vh;
  padding-bottom: 4rem;
}

.borderRight {
  border-right: 0.1rem solid var(--grey-low);
  padding-right: 4rem;
}
.borderTop {
  border-top: 0.1rem solid var(--grey-low);
  padding-top: 4rem;
}

.cardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
