.card {
  composes: modal from "../../styles/modal.module.css";
}
.modalContainer {
  composes: modalContainer from "../../styles/modal.module.css";
  padding: 2rem;
}
.status {
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  width: max-content;
  border-radius: 0.4rem;
  margin-bottom: 1.5rem;
}
.new {
  background-color: var(--pink-light);
  color: var(--pink-mid);
}
.pending {
  background-color: var(--purple-light);
  color: var(--purple-low);
}
.heading2 {
  font-family: "beatrice", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
}

.organisation {
  font-size: 1.4rem;
  color: var(--grey-high);
}
.request__button {
  display: flex;
  background-color: var(--grey-low);
  border-radius: 5rem;
  width: 2.2rem;
  height: 2.2rem;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  transition: 0.25s ease-in-out;
}
.request__button:last-of-type {
  margin-left: 1rem;
}
.request__button.approve:hover {
  cursor: pointer;
  background-color: var(--green);
}
.request__button.decline:hover {
  cursor: pointer;
  background-color: var(--pink-high);
}
.checker {
  width: 1rem;
  height: 0.5rem;
  transform: rotate(-45deg);
  display: block;
  border: 0.2rem solid #fff;
  border-top: none;
  border-right: none;
}

.decliner {
  width: 1rem;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg) translateY(-1px);
  display: block;
  border: 0.2rem solid #fff;
  border-top: none;
  border-right: none;
  border-left: none;
}
.decliner:after {
  content: "";

  width: 1rem;

  transform: rotate(90deg) translate(2px);
  display: block;
  border: 0.2rem solid #fff;
  border-top: none;
  border-right: none;
  border-left: none;
}

.metaData {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.buttons {
  display: flex;
}

.subData {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.date {
  font-size: 1.2rem;
  color: var(--grey-high);
}
