.task {
  background-color: white;
  border-radius: 0.6rem;
  display: grid;
  grid-template-columns: 5rem 3fr repeat(2, 1fr) 0.5fr;
  grid-gap: 2rem;
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
  align-items: center;
  box-shadow: var(--dropshadow);
  margin-left: 8rem;
  animation: fadeIn 0.5s ease-in-out;

  line-height: 1.4;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.topbar {
  display: grid;
  grid-template-columns: 5rem 3fr repeat(2, 1fr) 0.5fr;
  grid-gap: 2rem;
  margin-left: 8rem;
}

.dueDate {
  font-size: 1.4rem;
}
.icon {
  color: var(--grey-low);
  height: max-content;
  margin-left: 1rem;
  font-size: 3rem;
}
.icon:hover {
  cursor: pointer;
  color: var(--grey-mid);
}
.priority {
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  width: max-content;
  border-radius: 0.4rem;
}

.high {
  background-color: var(--pink-light);
  color: var(--pink-mid);
}
.low {
  background-color: var(--green-light);
  color: var(--green);
}
.medium {
  background-color: var(--yellow-light);
  color: var(--yellow);
}

.check__button {
  display: flex;
  background-color: var(--grey-low);
  border-radius: 5rem;
  width: 2.2rem;
  height: 2.2rem;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  transition: 0.25s ease-in-out;
}
.check__button:last-of-type {
  margin-left: 1rem;
}
.check__button.approve:hover {
  cursor: pointer;
  background-color: var(--green);
}
.checker {
  composes: checker from "../../../styles/form.module.css";
}
