.container {
  max-width: 114rem;
  margin: 0 auto;
}

.float {
  position: relative;
  z-index: 10;
}
.margin_top {
  padding-top: 16rem;
}

.heading1 {
  font-family: "beatrice";
  font-size: 5.6rem;
  line-height: 7.8rem;
  font-weight: 800;
  color: var(--purple-high);
}

.heading2 {
  font-family: "beatrice";
  font-size: 3.2rem;
  color: var(--purple-high);
  font-weight: 800;
}

.body {
  font-family: "beatrice";
  font-size: 1.8rem;
  line-height: 170.5%;
  margin-top: 5rem;
}

.purple_bg {
  padding: 16rem;
}

.button {
  composes: textButton from "../styles/ui.module.css";
  width: max-content;
  margin: 0;
  margin-top: 3rem;
}

.margin_left {
  margin-left: 2rem;
}

.spacer {
  padding-top: 16rem;
  padding-bottom: 16rem;
  max-width: 114rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.right .container {
  grid-column-start: 2;
}

.card {
  composes: modal from "../styles/modal.module.css";
  width: 80%;
  margin: 0 auto;
}
.modalContainer {
  composes: modalContainer from "../styles/modal.module.css";
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 8rem;
  width: 80%;
  margin: 0 auto;
}
.bg_img {
  position: relative;
}
.bg_img:after {
  background-image: url(../styles/assets/testbg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
  content: "";
  display: block;
  height: 83%;
  right: 0;
  width: 100%;
  top: -8rem;
  position: absolute;
}

.bg_end {
  background-image: url(../styles/assets/bg_end.png);
  background-repeat: no-repeat;
  height: 100rem;
  background-position: bottom center;
  width: 100%;
}
