.toolboxContent {
  margin-left: auto;
  margin-top: 16rem;
  margin-left: 32rem;
}
.toolboxContainer {
  width: 80%;
  margin: 0 auto;
}
.heading1 {
  font-family: "beatrice";
  font-size: 4.2rem;
  font-weight: bold;
  color: var(--purple-mid);
}
.pink,
.smalltitle {
  color: var(--pink-mid);
}
.intro {
  font-family: "beatrice";
  font-size: 2.1rem;
  line-height: 3.8rem;
  margin-top: 3rem;
  font-weight: 500;
  color: var(--grey-mid);
}
.largebody {
  font-family: "beatrice";
  font-size: 1.8rem;
  line-height: 3.2rem;
}
.largebody:last-of-type {
  margin-top: 6rem;
}
.highlight {
  color: var(--purple-low);
}
.card {
  box-shadow: var(--dropshadow);
  background-color: white;
  padding: 4rem;
  border-radius: 0.6rem;
  height: max-content;
  position: relative;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content min-content;
  grid-gap: 4rem;
  margin-top: 4rem;
}
.smalltitle {
  margin-bottom: 2rem;
}
.body {
  font-size: 1.8rem;
}
.heading2 {
  font-size: 2.8rem;
  font-family: "beatrice";
  font-weight: bold;
  color: var(--purple-mid);
  margin-bottom: 2rem;
}
.spacer {
  padding: 16rem 0;
}
.spacer_small {
  padding: 8rem 0;
}
.purplebg {
  background-color: var(--purple-very-low);
  padding: 8rem 0 10rem 0;
}

.tip {
  background-color: var(--purple-low);
  color: white;
  font-weight: bold;
  grid-column: 2;
}
.span_vertical {
  grid-row: span 2;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.shrink {
  width: 70%;
}
.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}
.chapter_card {
  background-color: white;
  border-radius: 0.6rem;
  padding: 3rem;
  margin: 1rem;
  width: 25rem;
  box-shadow: var(--dropshadow);
  border-bottom: solid 0.6rem white;
}
.chapter_card:hover {
  border-bottom: solid 0.6rem var(--pink-mid);
  cursor: pointer;
}
.card_subtitle {
  color: var(--grey-mid);
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.card_title,
.job_title {
  font-family: "beatrice";
  font-size: 2.1rem;
  font-weight: bold;
  line-height: 2.1rem;
}
.negative_margin {
  margin-top: -20rem;
}
.next {
  width: 30rem;
  margin-top: 8rem;
  margin-right: 4rem;
  margin-bottom: 4rem;
}

.introjobs {
  padding: 8rem;
}
.job_card {
  max-width: 100%;
  padding: 3rem;
  display: flex;
  background-color: white;
  border-radius: 0.6rem;

  align-items: center;
  justify-content: space-between;
  box-shadow: var(--dropshadow);
}
.job_title {
  color: var(--purple-mid);
  margin-bottom: 1.5rem;
}
.job_img {
  margin-right: 3rem;
  height: 12rem;
}
.jobs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 4rem;
  margin: 12rem 0;
}

.jobs .job_card:nth-child(even) {
  margin-top: 4rem;
}
.jobs .job_card:nth-child(odd) {
  margin-bottom: 4rem;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 4rem;
  min-height: calc(100vh - 12rem);
  margin-top: 12rem;
}
.container_small {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 4rem;
}
.green {
  border-bottom: solid 0.6rem var(--green);
}
.blue {
  border-bottom: solid 0.6rem var(--blue);
}
.pinq {
  border-bottom: solid 0.6rem var(--yellow);
}
.purple {
  border-bottom: solid 0.6rem var(--purple-low);
}
.orange {
  border-bottom: solid 0.6rem var(--orange);
}
.lime {
  border-bottom: solid 0.6rem var(--lime);
}
.softpink {
  border-bottom: solid 0.6rem var(--purple-very-low);
}
.yellow {
  border-bottom: solid 0.6rem var(--yellow);
}
.jobdown {
  margin-top: 8rem;
}

.cardgrid {
  display: flex;
  overflow-x: scroll;
  padding: 2rem 0;
}
.cardgrid::-webkit-scrollbar {
  display: none;
}
.purple_card {
  background-color: var(--purple-low);
  box-shadow: var(--dropshadow);
  color: white;
  padding: 8rem;
  border-radius: 0.6rem;
  height: max-content;
  grid-gap: 2rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  margin: 8rem auto;
}
.largeheader {
  font-size: 3.6rem;
  font-weight: bold;
  font-family: "beatrice";
  line-height: 4.2rem;
}
.helpbody {
  margin-top: 5rem;
}
.smalltitle_white {
  color: white;
  margin-bottom: 3rem;
}
.button {
  composes: textButton from "./../styles/ui.module.css";
  width: max-content;
  margin-left: 0;
  margin-top: 4rem;
}
.multiply {
  mix-blend-mode: multiply;
}
