.toolboxContent {
  margin-left: auto;

  margin-left: 32rem;
}

.toolboxContainer {
  width: 80%;
  margin: 0 auto;
}
.welcome_img {
  position: absolute;
  right: 0;
  top: 15rem;
  width: 30%;
}
.container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 4rem;
}
.margincontainer {
  margin-top: 16rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content min-content;
  grid-gap: 10%;
  margin-top: 4rem;
}
.card_grid {
  display: flex;
  overflow-x: scroll;
  margin-top: 6rem;
  padding-bottom: 2rem; /*shadow*/
}
.card_grid::-webkit-scrollbar {
  display: none;
}
.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}
/**/
.heading1 {
  font-family: "beatrice";
  font-size: 4.2rem;
  font-weight: bold;
  color: var(--purple-mid);
}
.quote {
  color: var(--purple-low);
  font-size: 2.7rem;
  line-height: 4.5rem;
  font-family: "beatrice";
  font-weight: 500;
  position: relative;
  margin-bottom: 12rem;
}
.quote::before {
  content: "";
  background-image: url(../../src/styles/assets/quotes.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 7rem;
  height: 6rem;

  position: absolute;
  margin-top: -7rem;
}
.smalltitle {
  margin-bottom: 2rem;
  font-size: 2.1rem;
  color: var(--pink-mid);
}
.largebody {
  font-family: "beatrice";
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: var(--black);
}
.heading3 {
  font-size: 3.6rem;
  font-weight: bold;
  font-family: "beatrice";
  line-height: 4.2rem;
  color: var(--purple-mid);
}

.intro {
  font-family: "beatrice";
  font-size: 2.1rem;
  line-height: 3.8rem;
  margin-top: 3rem;
  font-weight: 400;
  color: var(--black);
}

.largebody:last-of-type {
  margin-top: 6rem;
}
.highlight {
  color: var(--purple-low);
  font-weight: bold;
}
/**/
.copy {
  font-size: 1.8rem;
  line-height: 2.8rem;
}
.heading2 {
  font-size: 2.8rem;
  font-family: "beatrice";
  font-weight: bold;
  color: var(--purple-mid);
  margin-bottom: 2rem;
}

/**/
.card,
.introjobs {
  box-shadow: var(--dropshadow);
  background-color: white;
  padding: 4rem;
  border-radius: 0.6rem;
  height: max-content;
  position: relative;
}
/**/
.introduction {
  max-width: 60%;
  padding: 0 8rem 12rem 0;
}
.margin_top {
  margin-top: 6rem;
}
.share {
  display: flex;
  margin-top: 12rem;
  margin-bottom: 12rem;
  justify-content: space-between;
}
.shareContent {
  width: 50%;
}
.shareImage {
  height: 40rem;
}
.whenwere {
  margin-bottom: 16rem;
  margin-top: 16rem;
}

.introjobs {
  padding: 8rem;
  margin-top: 12rem;
  margin-bottom: 12rem;
}
.job_desc {
  color: var(--grey-mid);
}
.jobs {
  padding-bottom: 12rem;
}
/**/
.purple_bg {
  background-color: var(--purple-very-low);
  padding: 16rem 0;
}

.purple_card {
  background-color: var(--purple-low);
  box-shadow: var(--dropshadow);
  color: white;
  padding: 8rem;
  border-radius: 0.6rem;
  height: max-content;
  grid-gap: 2rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  margin: 8rem auto;
}
/**/
.chapter_card {
  background-color: white;
  border-radius: 0.6rem;
  padding: 3rem;
  margin: 1rem;
  max-width: 25rem;
  width: max-content;
  box-shadow: var(--dropshadow);
  border-bottom: solid 0.6rem white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}
.chapter_card:hover {
  border-color: var(--pink-mid);
  cursor: pointer;
}
.card_subtitle {
  color: var(--grey-mid);
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.card_title,
.job_title {
  font-family: "beatrice";
  font-size: 2.1rem;
  font-weight: bold;
  line-height: 2.1rem;
  color: var(--purple-high);
}
.card_title_small {
  font-size: 1.8rem;
}
.chapter_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 19rem;
}

.next {
  width: 35rem;
  padding-top: 8rem;
}
.white {
  color: white;
}
.tip {
  background-color: var(--purple-low);
  color: white;
  font-weight: bold;
  grid-column: 2;
}
/**/
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 12rem;
}
.header_img {
  max-height: 30rem;
}
.header_bg {
  background-color: white;
  padding-top: 16rem;
  padding-bottom: 4rem;
}
.header_text {
  max-width: 50%;
}
.long_card {
  display: flex;
  margin-bottom: -8rem;
}
.long_card .heading3 {
  width: 100%;
  margin-right: 6rem;
}
.whenwere img {
  display: block;
  margin: 0 auto 8rem auto;
}
/**/

.span_vertical {
  grid-row: span 2;
}

.job_card {
  max-width: 100%;
  padding: 3rem;
  display: flex;
  background-color: white;
  border-radius: 0.6rem;

  align-items: center;
  justify-content: space-between;
  box-shadow: var(--dropshadow);
}
.job_title {
  color: var(--purple-mid);
  margin-bottom: 1.5rem;
}
.job_img {
  margin-right: 3rem;
  height: 12rem;
}
.otherjob_image {
  width: 50%;
  height: auto;
  display: block;
}
.jobs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 4rem;
  margin: 2rem 0;
}

.jobs .job_card:nth-child(even) {
  margin-bottom: 4rem;
}
.jobs .job_card:nth-child(odd) {
  margin-top: 4rem;
}

/*colors*/
.pink {
  color: var(--pink-mid);
}
.green {
  border-bottom: solid 0.6rem var(--green);
}
.blue {
  border-bottom: solid 0.6rem var(--blue);
}
.pinq {
  border-bottom: solid 0.6rem var(--pink-mid);
}
.purple {
  border-bottom: solid 0.6rem var(--purple-low);
}
.orange {
  border-bottom: solid 0.6rem var(--orange);
}
.lime {
  border-bottom: solid 0.6rem var(--lime);
}
.softpink {
  border-bottom: solid 0.6rem var(--purple-very-low);
}
.yellow {
  border-bottom: solid 0.6rem var(--yellow);
}
.jobdown {
  margin-top: 8rem;
}

.button {
  composes: textButton from "./../styles/ui.module.css";
  width: max-content;
  margin-left: 0;
  margin-top: 4rem;
}

.taskgrid {
  max-width: 60%;
}
.task_card {
  background-color: var(--purple-mid);
  color: var(--black);
  padding: 2rem;
  border-radius: 0.6rem;
  margin-bottom: 2rem;
}
.tasks {
  padding-top: 20rem;
  padding-bottom: 20rem;
}
.back {
  color: var(--pink-mid);
  font-size: 1.4rem;
  margin-bottom: 6rem;
  display: block;
}
.arrow {
  font-size: 1rem;
  margin-right: 1rem;
}
.gettingstarted {
  padding-top: 30rem;
}
