.navContainer {
  composes: modalContainer from "../../styles/modal.module.css";
}
.scrollContainer {
  overflow-y: scroll;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + .templateLabel {
  border-color: var(--pink-mid);
  opacity: 1;
}

.templateLabel {
  opacity: 0.5;
  transition: 0.25s ease-in-out;
}

.templateLabel:hover {
  opacity: 1;
  cursor: pointer;
}

[type="radio"] + .templateLabel {
  border: 0.3rem solid transparent;
  display: inline-block;
  height: 12rem;
  width: max-content;
  border-radius: 0.4rem;
}
.templateImg {
  height: 100%;
}
.oneLineForm,
.centerForm {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.marginBottom:not(:last-child) {
  margin-bottom: 3rem;
}

.centerForm {
  align-items: center;
}

.landscape,
.portrait {
  width: 6rem;
  height: 5rem;
  background-color: var(--grey-lower);
  border-radius: 0.4rem;
  position: relative;
  border: 0.3rem solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
[type="radio"]:checked + .landscape,
[type="radio"]:checked + .portrait {
  border-color: var(--pink-mid);
}

.landscape:after,
.portrait:after {
  content: "";
  display: block;
  height: 50%;
  width: 65%;
  border: 0.3rem solid var(--black);
  border-radius: 0.4rem;
}
.portrait:after {
  height: 70%;
  width: 40%;
}

.orientation {
  display: flex;
  justify-content: space-between;
  width: 13rem;
}
.templatesBlock {
  margin-top: 3rem;
}

.uploadCard {
  border: dashed var(--grey-low) 0.2rem;
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 12rem;
  height: 5rem;
  transition: 0.25s ease-in-out;
}

.uploadCard:hover .icon {
  border: solid var(--pink-mid) 0.2rem;
}
.uploadCard:hover .cross_line {
  background-color: var(--pink-mid);
}
.icon {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  border: solid var(--grey-low) 0.2rem;
  border-radius: 50%;
  position: relative;
  transition: 0.25s ease-in-out;
}

.cross_line {
  width: 1.5rem;
  height: 0.2rem;
  background-color: var(--grey-low);
  display: block;
  position: absolute;
  top: 1.2rem;
  left: 0.5rem;
  transition: 0.25s ease-in-out;
}
.cross_line:last-child {
  -webkit-transform: rotate(-90deg);
}

.imageUpload {
  background-color: var(--grey-lower);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 7rem;
  border-radius: 0.4rem;
}

.imageUploadText {
  width: 42%;
  font-size: 1.4rem;
  color: var(--grey-low);
  line-height: 1.2;
}
