@import "./reset.css";
@import "./colors.module.css";

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--dark-color);
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
  text-decoration: none;
}
body {
  font-size: 1.6rem;
}

.container {
  margin: 0 auto;
}

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
