.listItem {
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr) 2rem;
  grid-gap: 3rem;
  align-items: center;
  height: 8rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--grey-mid);
}

.name {
  font-weight: bold;
  color: var(--black);
}

.arrow {
  margin-left: -2rem;
  color: var(--purple-low);
}
.listItem:nth-last-child(odd) {
  background-color: white;
}

.listItem p:first-child {
  margin-left: 2rem;
}
