.myTeam {
  color: white;
  padding: 2rem;
  margin-top: auto;
}
.teamName {
  font-family: "beatrice", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  margin-right: 1rem;
}
.team {
  display: flex;
  justify-content: space-between;
}

.location {
  color: var(--purple-low);
  margin-bottom: 2rem;
}
.bold {
  font-weight: bold;
}
.icon {
  border-radius: 50%;
  object-fit: cover;
}
.editIcon {
  color: white;
  transition: 0.25s ease-in-out;
}
.editIcon:hover {
  cursor: pointer;
  color: var(--purple-low);
}
.memberImages {
  display: flex;
}
.memberBlock {
  position: relative;
  margin-left: -1.5rem;
  display: flex;
  justify-content: center;
}
.memberBlock:first-child {
  margin: 0;
}
