.card {
  composes: modal from "../../../styles/modal.module.css";
  width: 100%;
}
.container {
  composes: modalContainer from "../../../styles/modal.module.css";
  padding: 2rem;
}

.image {
  object-fit: cover;
  width: 100%;
  border-radius: 0.6rem;
  margin-top: 2rem;
}

.title {
  font-size: 1.6rem;
  font-weight: bold;
}

.date {
  font-size: 1.2rem;
  color: var(--grey-mid);
  margin-bottom: 1.5rem;
}

.content {
  font-size: 1.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--grey-mid);
}
.content_max {
  font-size: 1.4rem;
  display: -webkit-box;
  -webkit-line-clamp: none;

  color: var(--grey-mid);
}
.readmore {
  composes: buttonInline from "../../../styles/typo.module.css";
  font-size: 1.4rem;
}
.readmore:hover {
  border-bottom: solid var(--pink-mid) 0.1rem;
}

.paperclip_icon {
  transform: rotate(45deg);
}

.icon_button {
  width: 4rem;
  height: 4rem;
  background-color: var(--grey-low);
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  margin-top: 2rem;
  font-size: 1.8rem;
  border: none;
  margin-right: 1rem;
  transition: 0.25s ease-in-out;
}
.icon_button:hover {
  background-color: var(--grey-mid);
  color: white;
  cursor: pointer;
}

.icon_select {
  background-color: var(--pink-mid);
  color: white;
}

.gridHeader {
  display: grid;
  grid-template-columns: auto 4rem;
  align-items: top;
  height: 4rem;
}

.icon {
  color: var(--grey-low);
  height: max-content;
  margin-left: 1rem;
}
.icon:hover {
  cursor: pointer;
  color: var(--grey-mid);
}

.icons_top {
  display: flex;
  justify-content: space-between;
  color: var(--grey-low);
}
.icons_bot {
  display: flex;
  justify-content: space-between;
  float: right;
  color: var(--grey-low);
  padding: 2rem 0;
}

.imageContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image_xs {
  object-fit: cover;
  width: 48%;
  height: 100%;
  border-radius: 0.6rem;
  margin-bottom: 4%;
}

.masonryBlock {
  margin-bottom: 2rem;
  display: inline-block;
  width: 100%;
}
.icon_button:disabled {
  background-color: var(--grey-low);
  color: #d1d1d1;
}

.icon_button:disabled:hover {
  pointer-events: none;
  background-color: var(--grey-low);
  color: #d1d1d1;
}
.counter {
  color: var(--pink-mid);
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
