.listItem {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1.5fr;
  grid-gap: 3rem;
  align-items: center;
  height: 5.3rem;
  font-size: 1.4rem;
  line-height: 1.8rem;

  color: var(--black);
}

.icon {
  width: 3rem;
  height: 3rem;

  border-radius: 50%;
  margin-right: 1rem;
}
.person {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.job {
  display: flex;
  align-items: center;
}

.name {
  font-weight: bold;
}

.listItem:nth-last-child(odd) {
  background-color: white;
}
