.sideNav {
  display: flex;
  flex-direction: column;
  background-color: var(--purple-high);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 26rem;
  padding: 3.5rem 2rem 4rem;
  z-index: 2;
}
.logo {
  font-weight: bold;
  margin-bottom: 8rem;
  color: white;
  padding: 1rem;
  padding-left: 2.4rem;
}
.marginLogo {
  margin-bottom: 6rem;
}
.navLink {
  display: flex;
  padding: 1rem 2rem;
  border-radius: 5rem;
  width: max-content;
  color: white;
  margin-bottom: 1rem;
  transition: 0.25s ease-in-out;
}
.navLink__active {
  background-color: var(--purple-mid);
  font-weight: bold;
}
.navLink:hover {
  background-color: var(--purple-mid);
  font-weight: bold;
}

.navLink__icon {
  margin-right: 2rem;
}
.logo {
  justify-self: flex-start;
}
.darkLink {
  color: white;
  background-color: rgb(62, 58, 58);
  border-radius: 5rem;
  padding: 1.5rem;
}
.active {
  font-weight: bold;
  color: black;
  background-color: rgb(228, 228, 228);
}
.activeDark {
  font-weight: bold;
  color: white;
  background-color: rgb(114, 114, 114);
}

.purple {
  color: var(--purple-low);
  transition: 0.25s ease-in-out;
}
