.nav {
  display: flex;
}
.navLink {
  composes: heading3 from "../../../../styles/typo.module.css";
  font-weight: 400;
  margin-right: 4rem;
  color: var(--grey-high);
  transition: 0.15s ease-in-out;
}
.active {
  font-weight: bold;
  color: var(--purple-dark);
}
.navLink:hover {
  color: var(--pink-mid);
}
