:root {
  --purple-grey: #f1f0f2;
  --purple-very-low: #eae5f3;
  --purple-light: rgba(129, 83, 228, 0.2);
  --purple-low: #8153e4;
  --purple-mid: #432a63;
  --purple-high: #34184a;
  --purple-dark: #1a0729;

  --pink-low: #ffa0ba;
  --pink-light: rgba(255, 48, 102, 0.2);
  --pink-mid: #ff3066;
  --pink-high: #ca315a;

  --grey-lower: #f5f4f6;
  --grey-low: #e1dee4;
  --grey-mid: #696969;
  --grey-high: #848484;

  --black: #141414;

  --green: #3ebd74;

  --dropshadow: 0px 0px 1px rgba(0, 0, 0, 0.013),
    0px 2px 6px rgba(52, 24, 74, 0.04), 0px 16px 24px rgba(52, 24, 74, 0.06);
}
