:root {
  --purple-grey: #f1f0f2;
  --purple-low: #8153e4;
  --purple-mid: #432a63;
  --purple-high: #34184a;

  --pink-low: #ffa0ba;
  --pink-mid: #ff3066;
  --pink-high: #ca315a;

  --grey-low: #f5f4f6;
  --grey-high: #696969;
}
