.form__group {
  display: flex;
  margin-bottom: 2rem;
}
.form__label {
  color: var(--purple-high);
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.labelBig {
  font-size: 1.6rem;
}

.form__title {
  font-size: 2.8rem;
  margin-bottom: 4rem;
  font-weight: bold;
  font-family: "beatrice", sans-serif;
}

.form__input,
.smallInput {
  background: var(--grey-lower);
  padding: 1rem 1.5rem;
  border-radius: 0.4rem;
  border: 0.1rem solid var(--purple-grey);
  width: 100%;
  transition: 0.15s ease-in-out;
  position: relative;
  z-index: 1;
  font-size: 1.4rem;
  font-family: "chivo", Arial, Helvetica, sans-serif;
}

.smallInput {
  width: 13rem;
  height: 4rem;
}

.form__input::placeholder {
  color: #bbb;
  font-size: 1.4rem;
}
.form__input:focus {
  border-color: var(--purple-mid);
}
.form__textarea {
  resize: none;
}
.errorInput {
  border-color: var(--pink-mid);
}
.error,
.errorHidden {
  color: var(--pink-mid);
  margin: 0.5rem 0 1.5rem;
  position: relative;
  font-size: 1.2rem;
  margin-bottom: -2rem;
  z-index: 0;
  transition: all 0.25s ease-in-out;
}
.error {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  margin-bottom: -1rem;
}

.errorHidden {
  visibility: hidden;
  transform: translateY(-2rem);
}

.form__button {
  background-color: var(--pink-mid);
  border: none;
  padding: 1rem 4rem;
  border-radius: 3rem;
  color: white;
  font-size: 1.6rem;
  font-family: "chivo", sans-serif;
  transition: 0.2s ease-in-out;
}
.form__button:disabled {
  background-color: var(--grey-mid);
  transition: 0.3s ease-in-out;
}

.form__button:hover {
  cursor: pointer;
  background-color: var(--pink-high);
}

.form__button:disabled:hover {
  background-color: var(--grey-mid);
  cursor: default;
}

.previewBox {
  width: 16.5rem;
  height: 16.5rem;
  object-fit: cover;
  border-radius: 10rem;
  position: absolute;
  right: -4rem;
  top: 4rem;
  overflow: hidden;
  border: 0.6rem solid white;

  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.013),
    0px 2px 6px rgba(52, 24, 74, 0.04), 0px 10px 20px rgba(52, 24, 74, 0.06);
}

.previewImg {
  width: 16.5rem;
  height: 16.5rem;
  object-fit: cover;
  visibility: visible;
  position: absolute;
  top: 0;
}

.previewImg {
  background-color: transparent;
}

.noImg {
  visibility: hidden;
}

.avatarInput,
.fileInput {
  display: none;
}

.avatarButton.picked {
  background-color: transparent;
}

.avatarButton {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  background-color: var(--purple-low);

  border-radius: 10rem;
  transition: 0.2s ease-in-out;
}

.avatarButton:hover {
  cursor: pointer;
  background-color: var(--purple-mid);
}
.avatarButton.picked:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.hidden {
  display: none;
}

.upload_image_wrapper {
  display: flex;
  overflow-x: scroll;
}
.uploaded_item {
  object-fit: cover;
  height: 10rem;
  border-radius: 0.6rem;

  width: 14rem;
}
.removeImage {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  background-color: white;
  border-radius: 5rem;
  width: 2.2rem;
  height: 2.2rem;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  transition: 0.25s ease-in-out;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04),
    0px 2px 8px rgba(52, 24, 74, 0.06), 0px 4px 7px rgba(52, 24, 74, 0.045);
}

.removeImage:hover {
  cursor: pointer;
  background-color: var(--pink-high);
}
.removeImage .decliner,
.removeImage .decliner:after {
  border-color: var(--grey-low);
}
.removeImage:hover .decliner,
.removeImage:hover .decliner:after {
  border-color: white;
}
.imageContainer {
  position: relative;
  margin-right: 1rem;
}
.announcement_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checker {
  width: 1rem;
  height: 0.5rem;
  transform: rotate(-45deg);
  display: block;
  border: 0.2rem solid #fff;
  border-top: none;
  border-right: none;
  margin-top: -0.2rem;
}

.decliner {
  width: 1rem;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg) translateY(-1px);
  display: block;
  border: 0.2rem solid #fff;
  border-top: none;
  border-right: none;
  border-left: none;
}
.decliner:after {
  content: "";

  width: 1rem;

  transform: rotate(90deg) translate(2px);
  display: block;
  border: 0.2rem solid #fff;
  border-top: none;
  border-right: none;
  border-left: none;
}

.margin {
  margin-right: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--grey-lower);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--pink-mid);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--pink-mid);
}

input:focus {
  outline: 0;
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: var(--grey-lower);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
