@import "./reset.css";
@import "./colors.module.css";
@import "./typo.module.css";

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "chivo", sans-serif;
  color: var(--purple-high);
  background-color: var(--grey-low);
  -webkit-font-smoothing: antialiased;
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
  text-decoration: none;
}
*:focus {
  outline: none;
}
body {
  font-size: 1.6rem;
  line-height: 1.6;
}

.container {
  padding: 0 4rem;
  margin-bottom: 4rem;
}
.mediumcontainer {
  width: 85%;
  margin: 0 auto;
}

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
