.dot {
  min-width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  margin-right: 2rem;
  border: none;
}
.border {
  border: solid 0.2rem;
}
.supervisor,
.racecoordinator {
  background-color: var(--supervisor);
  border-color: var(--supervisor);
}

.ambassador {
  background-color: var(--ambassador);
  border-color: var(--ambassador);
}

.eventmanager {
  background-color: var(--eventmanager);
  border-color: var(--eventmanager);
}
.communicationpublicrelationsmanager {
  background-color: var(--communicationpublicrelationsmanager);
  border-color: var(--communicationpublicrelationsmanager);
}
.racetreasurer {
  background-color: var(--racetreasurer);
  border-color: var(--racetreasurer);
}
.fundraisingsponsorshipmanager {
  background-color: var(--fundraisingsponsorshipmanager);
  border-color: var(--fundraisingsponsorshipmanager);
}
.volunteermanager {
  background-color: var(--volunteermanager);
  border-color: var(--volunteermanager);
}

.logisticsmanager {
  background-color: var(--logisticsmanager);
  border-color: var(--logisticsmanager);
}
.survivorrecognitionmanager {
  background-color: var(--survivorrecognitionmanager);
  border-color: var(--survivorrecognitionmanager);
}

.icon {
  width: 3rem;
  height: 3rem;

  border-radius: 50%;
}

.nameTag {
  display: none;
  position: absolute;
  width: max-content;

  top: -3.5rem;
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;

  font-size: 1.2rem;
  font-weight: normal;

  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04),
    0px 2px 8px rgba(52, 24, 74, 0.06), 0px 4px 7px rgba(52, 24, 74, 0.045);
}

.icon:hover + .nameTag {
  display: block;
}
.memberImages {
  display: flex;
}
.memberBlock {
  position: relative;
  margin-left: -1.5rem;
  display: flex;
  justify-content: center;
}
.memberBlock:first-child {
  margin: 0;
}
.name {
  margin: 0;
}
