.modal {
  background-color: white;
  border-radius: 0.6rem;
  box-shadow: var(--dropshadow);
  position: relative;
}
.modalContainer {
  padding: 4rem;
}
.divideBorder {
  border-top: 0.1rem solid var(--purple-grey);
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 4rem;
}
