.modal {
  background-color: white;
  border-radius: 0.6rem;
  box-shadow: var(--dropshadow);
  position: relative;
  height: max-content;
  transition: 0.25s ease-in-out;
}
.modalContainer {
  padding: 4rem;
  width: 100%;
}
.heading3 {
  composes: heading3 from "./typo.module.css";
  margin-bottom: 2rem;
  width: calc(100% - 4rem);
}
.divideBorder {
  border-top: 0.1rem solid var(--purple-grey);
}
.divideBorderBottom {
  border-bottom: 0.1rem solid var(--purple-grey);
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 4rem;
}
.modalBackground {
  position: fixed;
  width: 100%;
  height: 100vh;
  bottom: 0;
  z-index: 99;
  left: 0;
  background-color: rgba(26, 7, 41, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.25s ease-in-out;
  padding: 4rem 0;
  overflow: auto;
}

.floatingModal {
  composes: modal;
  margin: 0 auto;
  transform: translateY(5rem);
  width: max-content;
  opacity: 0;
  transition: 0.25s ease-in-out;
  z-index: 99;
  max-width: 42rem;
  margin: auto;
}
.bigModal {
  max-width: none;
  width: 54rem;
}
.floatingModal.fadeIn {
  transform: translateY(0);
  opacity: 1;
}
.modalBackground.fadeIn {
  opacity: 1;
}
.buttonBox {
  display: flex;
  justify-content: flex-end;
}

.biggerModal {
  max-width: none;
  width: 60rem;
}

.close__button {
  display: flex;
  border-radius: 5rem;
  width: 2.2rem;
  height: 2.2rem;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0.2rem solid var(--grey-low);
  transition: 0.25s ease-in-out;
}

.decliner {
  width: 1rem;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg) translateY(-1px);
  display: block;
  border: 0.2rem solid var(--grey-low);
  border-top: none;
  border-right: none;
  border-left: none;
  transition: 0.25s ease-in-out;
}
.decliner:after {
  content: "";
  width: 1rem;
  transform: rotate(90deg) translate(2px);
  display: block;
  border: 0.2rem solid var(--grey-low);
  border-top: none;
  border-right: none;
  border-left: none;
  transition: 0.25s ease-in-out;
}

.close__button:hover {
  cursor: pointer;
  border-color: var(--grey-high);
}

.close__button:hover .decliner,
.close__button:hover .decliner::after {
  border-color: var(--grey-high);
}
