.artboard {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.heading1 {
  font-size: 9rem;
  font-family: "Beatrice", Arial, Helvetica, sans-serif;
  font-weight: 900;
  line-height: 1.2;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.posterContent {
  position: relative;
  z-index: 2;
  word-wrap: break-word;
}
.blocks {
  position: absolute;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.purpleBlock {
  background: url("./assets/posters/purpleblock.png");
  width: 58rem;
  height: 58rem;
  color: white;
  background-size: cover;
}
.whiteBlock {
  background: url("./assets/posters/whiteblock.png");
  width: 44rem;
  height: 44rem;
  color: var(--black);
  background-size: cover;
}
.raceday {
  color: var(--pink-mid);
  font-family: "Beatrice", Arial, Helvetica, sans-serif;
  font-size: 4rem;
  font-weight: bold;
}

.city {
  font-size: 6rem;
}
.site {
  font-size: 3rem;
  width: 100%;
  color: var(--pink-mid);
  font-weight: bold;
}

.info {
  font-size: 3rem;
  font-weight: bold;
}
.smallInfo {
  font-size: 2rem;
}

.line {
  width: 4.5rem;
  height: 0.2rem;
  background-color: var(--pink-mid);
  margin: 2rem 0;
}
.logoCircle {
  width: 29rem;
  height: 29rem;
  background: url("./assets/posters/pinkcircle.png");
  background-size: cover;
  position: absolute;
  padding: 4rem;
  border-radius: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.logo {
  width: 100%;
}
.sponsorBlock {
  width: 100%;
  height: max-content;
  position: absolute;
  left: 0;
  align-items: center;
  bottom: -159rem;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 12rem));
  justify-content: center;
  padding: 4rem 4rem;
  opacity: 1;
  grid-gap: 2rem;
  transition: 0.25s ease-in-out;
}
.noSponsors {
  opacity: 0;
}
.sponsor {
  max-height: 10rem;
  object-fit: contain;
  max-width: 14rem;
  margin-right: 1rem;
}

.krulA {
  background: url("./assets/posters/lineA.png");
}
.krulB {
  background: url("./assets/posters/lineB.png");
}
.krulC {
  background: url("./assets/posters/lineC.png");
}

.krulA,
.krulB,
.krulC {
  width: 100%;
  height: 160rem;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
}

.sponsorInput {
  display: none;
}

.uploadCard {
  border: dashed var(--grey-low) 0.4rem;
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  padding: 0 2rem;
  max-width: 24rem;
  height: 10rem;
  transition: 0.25s ease-in-out;
}

.uploadCard:hover .icon {
  border: solid var(--pink-mid) 0.4rem;
}
.uploadCard:hover .cross_line {
  background-color: var(--pink-mid);
}
.icon {
  flex-shrink: 0;
  width: 6rem;
  height: 6rem;
  border: solid var(--grey-low) 0.4rem;
  border-radius: 50%;
  position: relative;
  transition: 0.25s ease-in-out;
}

.cross_line {
  width: 3.5rem;
  height: 0.4rem;
  background-color: var(--grey-low);
  display: block;
  position: absolute;
  top: 2.4rem;
  left: 0.9rem;
  transition: 0.25s ease-in-out;
}
.cross_line:last-child {
  -webkit-transform: rotate(-90deg);
}

.imageUpload {
  background-color: var(--grey-lower);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 7rem;
}

.imageUploadText {
  font-size: 2.4rem;
  color: var(--grey-low);
  line-height: 1.2;
  margin-left: 2rem;
}
.sponsorLogo {
  max-height: 10rem;
  max-width: 100%;
  object-fit: contain;
}
.removeImage {
  transform: scale(2);
  opacity: 0;
}

.imageContainer {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s ease-in-out;
}

.imageContainer:hover .removeImage {
  opacity: 1;
}
