@import "./fonts/chivo/chivo.css";
@import "./fonts/beatrice/beatrice.css";

.heading1 {
  font-size: 2.8rem;
  font-weight: bold;
  color: var(--purple-high);
  font-family: "beatrice", Arial, Helvetica, sans-serif;
  margin-bottom: 4rem;
}
.heading2 {
  font-family: "beatrice", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.heading3 {
  font-size: 2rem;
  color: var(--purple-dark);
  font-weight: bold;
  margin-bottom: 3rem;
}
.body {
  color: var(--grey-dark);
  margin-bottom: 3rem;
}
.buttonInline {
  font-size: 1.8rem;
  padding: 0;
  color: var(--pink-mid);
  border: none;
  border-bottom: 0.1rem solid var(--pink-mid);
  background: none;
  transition: 0.15s ease-in-out;
  height: max-content;
}

.buttonInline:hover {
  cursor: pointer;
  color: var(--pink-high);
  border-bottom-color: var(--pink-high);
}

.smallLink {
  font-size: 1.4rem;
  padding: 0;
  color: var(--pink-mid);
  border: none;
  background: none;
  transition: 0.15s ease-in-out;
}

.smallLink:hover {
  cursor: pointer;
  color: var(--pink-high);
}
